In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.21.6'

In [3]:
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

SyntaxError: ignored

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-08 14:50:02--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.01s

2022-09-08 14:50:02 (129 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [5]:
df = pd.read_csv("data.csv")

In [6]:
df.head(1)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135

In [8]:
df.shape

(11914, 16)

In [11]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [17]:
len(df.Model[df.Make=='Audi'].value_counts())

34

In [21]:
df.isna().any().value_counts()

False    11
True      5
dtype: int64

In [29]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(df['Engine Cylinders'].median())

In [30]:
df['Engine Cylinders'].mode()

0    4.0
dtype: float64

In [31]:
df['Engine Cylinders'].median()

6.0

In [50]:
q7 = df[df['Make']== "Lotus"][['Engine HP', 'Engine Cylinders']]
q7 = q7.drop_duplicates()
type(q7)

pandas.core.frame.DataFrame

In [59]:
X = np.array(q7)
#type(X)
XT  = np.transpose(X)

XTX = np.matmul(XT, X)
XTXinv = np.linalg.inv(XTX)

In [57]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [60]:
# Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
w = np.matmul(np.matmul(XTXinv, XT), y)

In [61]:
w

array([  4.59494481, -63.56432501])